@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: sans-serif;
}


input { all: unset; }
* { margin: 0; padding: 0; }
